.login-form {
  width: 850px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 200px;
  left: 400px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
}

.login-form-col {
  padding: 20px;
  width: 425px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 1px 0 rgb(60 75 100 / 14%),
    0 2px 1px -1px rgb(60 75 100 / 12%), 0 1px 3px 0 rgb(60 75 100 / 20%);
}
.login-form-img {
  padding: 20px;
}
